h1{
    position: absolute;
}

h3{
    font-size: larger;
    font-family: 'Times New Roman', Times, serif;
}

.jobtitle{
    font-weight: bold;
}

h4{
    font-weight: lighter;
    font-family: 'Times New Roman', Times, serif;
}

h5{
    font-family: 'Times New Roman', Times, serif;
    font-weight: lighter;
}

.list{
    font-family: 'Times New Roman', Times, serif;
    font-weight: lighter;
}